.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--font-size-base);
}

.form-group label {
    font-weight: var(--font-weight-estandar);
    margin-bottom: var(--border-radius-s);
    color: var(--color-n-700);
}

.form-group input,
.form-group textarea,
.form-group select {
    padding: 0.5rem 0.75rem;
    border: 2px solid var(--color-n-100);
    border-radius: var(--border-radius-s);
    font-size: var(--font-size-base);
    background: var(--color-n-50);
    transition: border-color 0.2s;
    color: var(--color-n-1000);
}

.form-group textarea {
    resize: vertical;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: var(--color-b-500);
    outline: none;
}

.form-group input[disabled],
.form-group textarea[disabled],
.form-group select[disabled] {
    background: var(--color-n-50);
    color: var( --color-n-100);
    border-color: var(--color-grey-50);
}