.grid-container {
  display: grid;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.grid-header {
  padding: 12px 16px;
  text-align: center;
  /* Se añade esta línea para centrar el texto */
  border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
  /* Opcional: para que las cabeceras destaquen */
  background-color: #e2e1e1;
}

/* Estilo para las celdas de datos */
.grid-table-cell {
  background-color: #f9f9f9;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.grid-table-cell.row-par {
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
} 
.pagination span {
  margin: 0px 30px;
}
.grid-header.grid-cell-ghost-start{
  width: 50px;
}

.grid-header.grid-cell-ghost-end{
  width: 50px;
}