.mlap-home-search {
  display: flex;
  align-items: center;
  background-color: var(--color-n-0);
  border-radius: var(--border-radius-xl);
  border: var(--border-width-m) solid #cecece;
  padding: var(--space-xs) var(--space-m);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width:var(--width-estandar) ;
  max-width: 600px;
  margin-inline: auto;
}

.mlap-home-search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: var(--space-xs);
  font-size:var(--font-size-m);
  color: var(--color-n-300);
}

.mlap-home-search-input::placeholder {
  color: var(--color-n-100);
}

.mlap-home-search-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: var(--space-xs);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mlap-home-search-btn svg {
  color:  var(--color-n-300);
}