.my-button-medium-icon {
    display: flex;
    align-items: center;
    padding: var(--space-xs) var(--font-size-base);
    border: none;
    border-radius: var(--border-radius-xs);
    background-color: var(--button-bg, --color-b-400);
    color: var(--button-color, --color-n-0);
    cursor: pointer;
    transition: background-color 0.2s;
    gap: var(--space-xs);
    font-size: var(--font-size-s);
}

.my-button-medium-icon:hover {
    background-color: var(--button-bg-hover, --color-b-600);
}
.my-button-medium-icon svg {
    height: var(--font-size-l);
    width:var(--font-size-l);
}