.btn-short-view {
  color: var(  --color-green-confirm-hover);
}
.btn-short-view:hover {
  background: rgba(0, 0, 0, 0.14);
}
.my-btn-short-action {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: var(--font-size-l);
  padding: var(--space-xxs) var(--space-xs);
  border-radius: var(--border-radius-s);
  transition: background 0.2s;
  background-color: rgba(0, 0, 0, 0.06);
  display: grid;
  place-items: center;
}
.btn-short-edit {
  color: #1976d2;
}
.btn-short-edit:hover {
  background: #e3f2fd;
}
.btn-short-delete {
  color: #d32f2f;
}
.btn-short-delete:hover {
  background: var(--color-error-200);
}
