.btn-short-view {
  color: #388e3c;
}
.btn-short-view:hover {
  background: #e8f5e9;
}
.my-btn-short-action {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  transition: background 0.2s;
  margin-left: 6px;
  background-color: rgba(0, 0, 0, 0.03);
  display: grid;
  place-items: center;
}
.btn-short-edit {
  color: #1976d2;
}
.btn-short-edit:hover {
  background: #e3f2fd;
}
.btn-short-delete {
  color: #d32f2f;
}
.btn-short-delete:hover {
  background: #ffebee;
}
