.btn-short-view {
  color: var(--color-green-btn-hover);
}

.btn-short-view:hover {
  background: rgba(0, 0, 0, 0.14);
}

.my-btn-short-action {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: var(--font-size-l);
  padding: var(--space-xxs) var(--space-xs);
  border-radius: var(--border-radius-s);
  transition: background 0.2s;
  background-color: var(--color-gris-short);
  display: grid;
  place-items: center;
}

.btn-short-edit {
  color: var(--color-blue-btn);
}

.btn-short-edit:hover {
  background: var(--color-b-100);
}

.btn-short-delete {
  color: var(--color-error-600);
}

.btn-short-delete:hover {
  background: var(--color-error-200);
}

.btn-short-refresh {
  color: var(--color-blue-btn);
}

.btn-short-refresh:hover {
  background: var(--color-b-100);
}

.btn-short-add {
  color: var(--color-a-600);
}

.btn-short-add:hover {
  background-color: var(--color-b-100);
}

.btn-short-close {
  color: var(--color-error-700);
}

.btn-short-close:hover {
  color: var(--color-error-500);
}

.btn-short-key {
  color: var(--color-error-700);
}

.btn-short-key {
  color: var(--color-error-500);
}

.btn-short-select {
  color: var(--color-a-600);
}

.btn-short-select:hover {
  background-color: var(--color-b-100);
}

.btn-short-next{
  color: var(--color-a-600);
}
.btn-short-back{
  color: var(--color-a-600);
}
.btn-short-file{
  color:var(--color-a-400);
}

.btn-short-block {
  color: var(--color-error-700);
}

.btn-short-time {
  color: var(--color-a-600);
}