.modal-confirm-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-x);
}
.modal-confirm-overlay {
  position: fixed;
  top: var(--size-0);
  left:var(--size-0);
  width: 100vw;
  height: var(--min-height);
  background: var(--color-n-1000);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.modal-confirm-box {
  background: var(--color-n-0);
  padding: var(--space-xl) var(--space-3xl);
  border-radius: var(--border-radius-body);
  box-shadow: var(--size-0) 2px 16px var(--color-n-1000);
  min-width: var(--min-width);
  text-align: center;
}
.modal-confirm-actions {
  margin-top: var(--space-l);
  display: flex;
  gap: var(--font-size-base);
  justify-content: center;
}
.modal-confirm-btn {
  background: var(--color-green-btn);
  color: var(--color-n-0);
  border: none;
  padding: var(--space-body) var(--space-m);
  border-radius: var(--border-radius-s);
  cursor: pointer;
  font-weight: var(--font-weight-estandar);
}
.modal-cancel-btn {
  background: var( --color-error-500);
  color: var(--color-n-0);
  border: none;
  padding: var(--space-body) var(--space-m);
  border-radius: var(--border-radius-s);
  cursor: pointer;
  font-weight: var(--font-weight-estandar);
}
.modal-confirm-btn:hover {
  background: var(--color-green-btn-hover);
}
.modal-cancel-btn:hover {
  background: var(--color-error-700);
}
