.notificacion-simple {
  padding: var(--space-m);
  border-bottom: var(--border-width-s) solid var(--color-n-200);
  cursor: pointer;
  transition: background-color 0.2s;
}

.notificacion-simple:hover {
background-color: rgba(var(--color-n-900-rgb), 0.1);
}

.notificacion-mensaje {
  margin: 0;
  color: var(--color-n-900);
}

.notificacion-fecha {
  font-size: var(--font-size-body);
  color: var(--color-n-600);
}

/* Contenedor modal de notificaciones */
.modal-notificaciones {
  background: var(--color-n-0);
  padding: var(--font-size-xl);
  border-radius: var(--border-radius-s);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width:var(--max-width-1);
  width: 90%;
  max-height: var(--max-height-small);
  overflow-y: auto;
  justify-self: center;
  align-self: center;
}

.modal-notificaciones-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-m);
}

.modal-notificaciones-header h2 {
  margin: 0;
  color: var(--color-n-900);
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: grid;
  place-items: center;
}
