.screenman-container {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: var(--min-height);
    height: 100vh;
    overflow: hidden;
    max-height: -webkit-fill-available;
}

.screenman-main {
    height: 100%;
    overflow: hidden;
    background: var(--background, --color-n-50);
}

.screenman-article {
    height: 100%;
    background: var(--article-bg, --color-n-50);
    display: grid;
    grid-template-columns: var(--grid-t-col) var( --grid-t-col-4);
    overflow: auto;
}

.screenman-article:not(:has(.panel-lateral-config)) {
    grid-template-columns: 1fr;
}

.screenman-article .content-module,
.screenman-article .panel-lateral-config {
    height: var(--height-estandar);
    overflow: auto;
}

.screenman-article h2.title-screen {
    margin-block-start: 0;
    padding-block-end: var(--space-body);
    border-bottom: var(--border-width-s) solid var(--color-n-1000);
}

.screenman-article .content-module {
    padding: var(--space-xl);
}

.screenman-article .panel-lateral-config {
    padding: var(--space-xl);
    border-inline-start-width: var(--border-width-s);
    border-inline-start-style: solid;
    border-inline-start-color: var(--color-grey-50);
    background-color: var(--color-n-50);
}
.content-module .my-list-1 {
    margin-block-start: var(--font-size-xl);
}