.search-bar-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 4px 0px;
  width: 100%;
}

.search-input {
  width: 100%;
  max-width: 600px;
  padding: 10px 15px;
  border: 1px solid var(--color-grey-50);
  border-radius: 20px; 
  font-size: var(--font-size-s);
  outline: none; 
  transition: all 0.3s ease; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); 
  background: var(--color-n-0);
  color: var(--color-n-1000);
}

.search-input::placeholder {
  color: var(--color-n-200);
}
