.switch-toggle-doc {
  position: relative;
  display: inline-block;
  width: var(--space-2xl);
  height: var(--font-size-m);
}

.switch-toggle-doc input {
  opacity: var(--size-0);
  width: var(--size-0);
  height: var(--size-0);
}

.slider-doc {
  position: absolute;
  cursor: pointer;
  top: var(--size-0);
  left: var(--size-0);
  right: var(--size-0);
  bottom: var(--size-0);
  background-color: var(--color-grey-50);
  transition: .4s;
  border-radius: var(--font-size-m);
}

.switch-toggle-doc input:checked+.slider-doc {
  background-color: var(--color-confirm-btn);
}

.slider-doc:before {
  position: absolute;
  content: "";
  height: var(--space-s);
  width: var(--space-s);
  left: var(--space-xxs);
  bottom: var(--border-radius-small);
  background-color: var(--color-n-0);
  transition: .4s;
  border-radius: var(--border-radius-p);
}

.switch-toggle-doc input:checked+.slider-doc:before {
  transform: translateX(var(--font-size-body));
}