.grid-container {
  display: grid;
  overflow: hidden;
  border: 1px solid var(--color-grey-50);
  border-radius: 10px;
  overflow-x: auto;
}

.grid-header {
  padding: 12px 0px;
  text-align: center;
  border-bottom: 1px solid var(--color-n-25);
  font-weight: bold;
  background-color: var(--color-n-50);
}
.grid-header.grid-cell-id{
  width: 90px;
} 
.grid-header.grid-cell-estado{
  width: 140px;
}


.grid-header.grid-cell-acciones{
  width: auto;
  padding-right: 50px;
  padding-left: 50px;
}

/* Estilo para las celdas de datos */
.grid-table-cell {
  background-color: var(--color-n-0);
  padding: 12px;
  border-bottom: 1px solid var(--color-n-25);
  text-align: center;
  font-weight: normal;
}

.grid-table-cell.row-par {
  background-color: var(--color-n-15);
  font-weight: normal;
}
.align-left {
  text-align: left;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
} 
.pagination span {
  margin: 0px 30px;
}
