#maxAttendees.inputModal{
    width: 50%;
}
.Inputs-add .checkbox-group {
    display: flex;
    gap: 20px;
}

.sidebar-list-item.requirement-item input[type="checkbox"] {
    width: 20px;
    height: 20px; 
    flex-shrink: 0;
}

form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}