.right-container {
    display: flex;
    align-items: stretch;
}


.panel-config-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.panel-config-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.sidebar-search .SearchBar {
    width: 100%;
}

.empty-state {
    text-align: center;
    padding: 50px 20px;
    color: var(--color-n-300);
    font-style: italic;

}


.content-module.only-this {
    position: relative;
    z-index: 1;
}

/* Regla CSS para el encabezado del panel */
.panel-lateral-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-n-25);
    padding: 0px 0px 10px 0px;
}

.panel-lateral-header h2 {
    margin: 0;
    font-size: var(--font-size-l);
    color: var(--color-n-700);
}

.texto-evento {
    display: flex;
    margin-left: 10px;
    align-items: center;
    font-weight: bold;
    font-size: var(--font-size-s);
}

.table-container {
    cursor: pointer;
    display: grid;
    border: 1px solid var(--color-n-25);
    border-radius: 8px;
    overflow: hidden;
    margin: 1rem auto;
}

.event-row {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid var(--color-n-75);
    transition: background 0.2s;
}

.event-row:hover {
    background-color: var(--color-n-75);
}

.event-cell {
    display: flex;
    gap: 16px;
    padding: 12px 18px;
    width: 100%;
    align-items: center;
}

.event-id {
    font-weight: bold;
    color: var(--color-n-700);
    padding: 2px 8px;
    min-width: 32px;
    text-align: center;
}

.event-name{
    font-weight: 500;
    color: var(--color-n-900);
    font-size: var(--font-size-m);
}
.event-capilla-name {
    font-size: var(--font-size-s);
    color: var(--color-n-500);
    margin-top: 4px;
}
