.app-container {
    border: 1px solid var(--color-n-25);
    border-radius: 8px;
    background: var(--color-n-0);
    padding: 20px;
    margin: 20px auto;
    color: var(--color-n-700);
    box-sizing: border-box
}

.search-add {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 12px;
    overflow: hidden;
    border-color: var(--color-n-25);
}

.center-container {
    justify-content: center;
}


.search-add.my-group-buttons-actions{
    align-items: stretch;
} 

/* Estilo específico cuando search-add contiene texto-evento */
.search-add:has(.texto-evento) {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    gap: 12px;
    border: black;
}

.search-add:has(.texto-evento) .texto-evento {
    grid-row: 1;
}

.search-add:has(.texto-evento) .center-container {
    grid-row: 2;
}

.search-add:has(.texto-evento) .right-container {
    grid-row: 2;
}

.Inputs-edit {
    display: flex;
    flex-direction: column;   
    align-items: flex-start;  
    gap: 10px;                
    width: 100%;              
}
.Inputs-add {
    display: flex;
    flex-direction: column;   
    align-items: flex-start;  
    gap: 10px;                
    width: 100%;              
}

.inputModal {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid var(--color-grey-50);
    width: 380px;  
    max-width: 100%;
    font-size: var(--font-size-s);
    outline: none;
    background-color: var(--color-n-0);
    color: black;
}
textarea.inputModal{
    width: 380px;  
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
}

.Inputs-add label {
    margin-top: 10px
            
}

@media (max-width: 768px) {
    .app-container {
        height: auto;
    }
}
