.app-container {
    border: 1px solid var(--color-n-25);
    border-radius: 8px;
    background: var(--color-n-0);
    padding: 20px;
    margin: 20px auto;
    font-family: "Segoe UI", Tahoma, sans-serif;
    color: var(--color-n-700);
    transition: all 0.3s ease-in-out;
    box-sizing: border-box
}

.search-add {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    gap: 12px;
}

.center-container {
    flex: 1;
    display: flex;
    justify-content: center;
}


.search-add.my-group-buttons-actions{
    align-items: stretch;
} 

.Inputs-edit {
    display: flex;
    flex-direction: column;   
    align-items: flex-start;  
    gap: 10px;                
    width: 100%;              
}
.Inputs-add {
    display: flex;
    flex-direction: column;   
    align-items: flex-start;  
    gap: 10px;                
    width: 100%;              
}

.inputModal {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid var(--color-grey-50);
    width: 380px;  
    max-width: 100%;
    font-size: var(--font-size-s);
    outline: none;
    background-color: var(--color-n-0);
    color: black;
}
textarea.inputModal{
    width: 380px;  
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
}

.Inputs-add label {
    margin-top: 10px
            
}
