.modulo-container {
  width: 95%;
  margin: 2rem auto;
  background: var(--color-n-0);
  border-radius: 20px;
  padding: 3rem;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  color: var(--color-n-800);
}

.modulo-header {
  text-align: start;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--color-n-80);
  padding-bottom: 1.5rem;
}

.modulo-title {
  font-size: var(--font-size-xd);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.modulo-subtitle {
  font-size: var(--font-size-m);
  color: var(--color-n-500);
  max-width: 750px;
}

.modulo-content {
  line-height: 1.8;
  font-size: var(--font-size-base);
  margin-bottom: 2.5rem;
  text-align: justify;
  color: var(--color-n-600);
}
