.sidebar-list-item.requirement-item label {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
}
.input_date {
    width: 100%;
    padding: 8px;
    font-size: var(--font-size-body);
    border: 1px solid var(--color-grey-50);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 12px;
    var(--color-n-1000);
}
.input_time {
    width: 100%;
    padding: 8px;
    font-size: var(--font-size-body);
    border: 1px solid var(--color-grey-50);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 12px;
    var(--color-n-1000);
}
