.sidebar-list-item.requirement-item label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.input_date {
    width: 100%;
    padding: 8px;
    font-size: var(--font-size-body);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 12px;
    color: black;
}
.input_time {
    width: 100%;
    padding: 8px;
    font-size: var(--font-size-body);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 12px;
    color: black;
}
