.info-item {
  display: grid;
  grid-template-columns: 230px 1fr; 
  align-items: baseline; 
  gap: 1.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--color-n-x1);
  padding-bottom: 1em;

}

.info-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.info-label {
  font-weight: 500;
  color: var(--color-n-300);
  letter-spacing: 0.5px;
}

.info-value {
  color: var(--color-n-700);
  font-weight: 400;
}

.password-row {
  display: grid;
  grid-template-columns: 230px 1fr;
  align-items: baseline;
  gap: 1.5em;
}

.password-display {
  display: flex;
  align-items: center;
  gap: 1em;
}

.password-display .my-button-short-action {
  min-width: 60px; 
}

.my-btn-short-action.btn-short-arrowfold.expandable-icon {
  color: var(--color-n-1000);
} 