:root {
  --color-a-100: #d4d2f8;
  --color-a-200: #9490ee;
  --color-a-300: #554ee3;
  --color-a-400: #261ec7;
  --color-a-500: #18137c;
  --color-a-600: #1d179a;
  --color-a-700: #15106e;
  --color-a-800: #0c0a42;
  --color-a-900: #040316;
  --color-b-100: #d1ebf9;
  --color-b-200: #8ecdf0;
  --color-b-300: #4aafe7;
  --color-b-400: #1a8cca;
  --color-b-500: #1982bc;
  --color-b-600: #146c9d;
  --color-b-700: #0e4d70;
  --color-b-800: #082e43;
  --color-b-900: #020f16;
}

