:root {
  --color-a-100: #d4d2f8;
  --color-a-200: #9490ee;
  --color-a-300: #554ee3;
  --color-a-320: #1e3a8a;
  --color-a-350: #007bff;
  --color-a-370: #1b3375;
  --color-a-400: #261ec7;
  --color-a-500: #18137c;
  --color-a-600: #1d179a;
  --color-a-700: #15106e;
  --color-a-800: #0c0a42;
  --color-a-900: #040316;
  --color-b-100: #d1ebf9;
  --color-b-200: #8ecdf0;
  --color-b-300: #4aafe7;
  --color-b-400: #1a8cca;
  --color-b-500: #1982bc;
  --color-b-600: #146c9d;
  --color-b-700: #0e4d70;
  --color-b-800: #082e43;
  --color-b-900: #020f16;
  --color-n-900-rgb: 2, 15, 22;
  --color-n-900: #1c1c1c;
  --color-n-800: #2a2a2a;
  --color-n-700: #383838;
  --color-n-600: #464646;
  --color-n-500: #545454;
  --color-n-400: #626262;
  --color-n-300: #707070;
  --color-n-200: #7e7e7e;
  --color-n-100: #8c8c8c;
  --color-n-x1: #c0c0c0;
  --color-n-80: #eaeaea;
  --color-n-75: #d6d6d6;
  --color-n-50: #f5f5f5;
  --color-n-25: #e9e8e8;
  --color-n-15: #f2f2f2;
  --color-n-10: #f8f9fa;
  --color-error-50: #fef2f2;
  --color-error-100: #fee2e2;
  --color-error-200: #fecaca;
  --color-error-300: #fca5a5;
  --color-error-400: #f87171;
  --color-error-500: #ef4444;
  --color-error-600: #dc2626;
  --color-error-700: #b91c1c;
  --color-error-750: #a21e1e;
  --color-error-800: #991b1b;
  --color-error-900: #7f1d1d;
  --color-n-0: #ffffff;
  --color-n-1000: #000000;
  --color-grey-50: #ccc;
  --color-blue-btn: #0056b3;
  --color-blue-btn-hover: #0f447c;
  --color-green-btn: #4caf50;
  --color-green-btn-hover: #388e3c;
  --color-green-title: #006633;
  --color-semi-trans: rgba(255, 255, 255, 0.1);

  --color-grey-palido:var(--color-grey-palido);
  --color-semi-gris: rgba(0,0,0,0.25);
  --color-semi-gris-oscuro: rgba(0,0,0,0.55);
  --color-gris-short: rgba(0, 0, 0, 0.06);
  --color-sombra-1:rgba(0,0,0,0.25);
  --color-sombra-2:rgba(0,0,0,0.07);
  --color-sombra-3:rgba(0,0,0,0.04);
  --color-sombra-4:rgba(0,0,0,0.10);
  /* espaciado */
  --size-0: 0;
  --space-0: 0px;
  --space-small: 2px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-body: 10px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 24px;
  --space-sl: 26px;
  --space-xl: 32px;
  --space-xxl: 36px;
  --space-3xl: 40px;
  --space-big: 64px;

  /* altura de línea */
  --line-height-xs: 1.1;
  --line-height-xl: 1.5;

  /* estilo */
  --box-shadow-light: 0 2px 16px rgba(0, 0, 0, 0.06);
  --border-radius-xs: 4px;
  --border-radius-s: 8px;
  --border-radius-m: 10px;
  --border-radius-body: 12px;
  --border-radius-l: 16px;
  --border-radius-xl: 24px;
  --border-width-s: 1px;
  --border-width-m: 2px;
  --border-radius-p: 50%;

  /* tipografía */
  --font-size-2xl: 32px;
  --font-size-base: 1rem;
  --font-size-big: 51px;
  --font-size-body: 14px;
  --font-size-header: 42px;
  --font-size-z: 28px;
  --font-size-2p: 22px;
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-s: 16px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-size-xd: 36px;
  --font-size-xs: 12px;
  --font-size-xxs: 10px;
  --font-weight-big: 700;
  --font-weight-bold: 700;
  --font-weight-estandar: 500;
  --font-weight-regular: 500;
  --font-weight-small: 400;
  --letter-spacing-m: 2px;
  --letter-spacing-s: 1px;



  /* ancho y alto */
  --max-width: 400px;
  --max-width-small: 480px;
  --max-width-1: 500px;
  --min-width: 320px;
  --min-width-small: 220px;
  --min-height: 100vh;
  --max-height-small: 80vh;
  --max-height-medium: 90vh;
  --width-estandar: 100%;
  --height-estandar: 100%;
  --height-header: 92px;

  /* grid */
  --grid-t-col-1: 100px;
  --grid-t-col-2: 200px;
  --grid-t-col-3: 300px;
  --grid-t-col-4: 380px;
  --grid-t-col: 1fr;
}