@import './colors.css';

.mlap-home-welcome {
    margin-block-start: var(--space-sl);
}

.mlap-home-welcome-info {
    display: grid;
    grid-template-columns: var(--grid-t-col-2) var(--grid-t-col);
    gap:var(--space-sl);
    background-color: var(--color-a-400);
    color: var(--color-n-0);
    padding: var(--font-size-xxl);
    border-radius: var(--border-radius-xl);
}
.title-banner {
    margin: 0;
}
.mlap-home-welcome-info-picture {
    height: auto;
    overflow: hidden;
    border-radius: var(--border-radius-s);
}
.mlap-home-welcome-info-picture img {
    width: var(--width-estandar);
    height: var(--width-estandar);
    object-fit: cover;
}
.mlap-home-modules-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--space-m);
}
.mlap-home-reserve-btn {
    font-size: var(--font-size-s);
    background-color: var(--color-a-600);
    color: var(--color-n-0);
    padding: var(--space-s) var(--space-l);
    border: var(--border-width-m) solid var(--color-n-0);
    border-radius: var(--border-radius-s);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.mlap-home-reserve-btn:hover {
    background-color: var(--color-n-0);
    color: var(--color-a-600);
}