@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import './colors.css';

body, html, * {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: var(--line-height-xl);
  font-weight: var(--font-weight-small);

  color-scheme: light dark;
  color: var(--color-n-1000);
  background-color: var(--color-n-50);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: var(--min-width);
  min-height: var(--min-height);
}

h1 {
  font-size: var(--font-size-big);
  line-height: var(--line-height-xs);
}